@*@model StudentSession_Oct12.Models.StudentModel
    @foreach (StudentModel s in Model)
        {
    <tr>
        <td>@s.Student_id</td>
        <td>@s.FirstName</td>
        <td>@s.LastName</td>
        <td>@s.Year</td>
        <td>@s.Major</td>
        <td>@s.Instructor_id</td>
    </tr>
        }*@